@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.About-content {
  position: relative;
}
  
.About-content h2 {
  position: absolute;
  top: 50px; 
  left: 15%;    
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  font-size: 4em;
  font-weight: bolder;
}
  
.About-content img {
  max-width: 100%;
  max-height: 80vh; /* Adjust the value to shrink vertically */
  height: auto;
  display: block;
  margin: 0 auto;
}
  
.About-content h1,
.About-content p {
  margin-top: 15px; 
  margin-left: 5%; /* Adjust left margin */
  margin-right: 5%; /* Adjust right margin */
}
  