/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=plein@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

#About-content {
  position: relative;
  flex-grow: 1;
}

#About-content h2,
#About-content h3,
#About-content h1,
#About-content p {
  margin: 20px 5%;
}

#About-content h2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 8em;
  font-family: 'Plein', sans-serif;
}

#About-content h3 {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  font-size: 2em;
  font-family: 'Bevellier', sans-serif;
  font-style: italic;
}

#About-content img {
  width: 100%;
  height: auto;
  filter: brightness(55%);
}

#About-content h1,
#About-content p {
  margin: 20px 5%;
  font-family: 'Plein', sans-serif;
}

/* Media Queries */
@media screen and (min-width: 360px) {
  #About-content img {
    height: 25vh;
  }
  #About-content h2 {
    font-size: 1.8em;
    top: 10%;
  }
  #About-content h3 {
    font-size: 0.8em;
    top: 13%; 
    width: 100%; 
    text-align: center; 
    overflow: visible; 
    white-space: normal; 
  }
  #About-content h1 {
    font-size: 1em;
  }
  #About-content p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 400px) {
  #About-content img {
    height: 25vh;
  }
  #About-content h2 {
    font-size: 1.6em;
    top: 12%;
  }
  #About-content h3 {
    font-size: 0.7em;
    top: 16%;
  }
  #About-content h1 {
    font-size: 0.9em;
  }
  #About-content p {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 500px) {
  #About-content img {
    height: 25vh;
  }
  #About-content h2 {
    font-size: 2em;
    top: 12%;
  }
  #About-content h3 {
    font-size: 1em;
    top: 15%;
  }
  #About-content h1 {
    font-size: 1.2em;
  }
  #About-content p {
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) {
  #About-content img {
    height: 25vh;
  }
  #About-content h2 {
    font-size: 2em;
    top: 12%;
  }
  #About-content h3 {
    font-size: 1em;
    top: 15%;
  }
  #About-content h1 {
    font-size: 1.2em;
  }
  #About-content p {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  #About-content img {
    height: 35vh;
  }
  #About-content h2 {
    font-size: 2em;
    top: 20%;
  }
  #About-content h3 {
    font-size: 1em;
    top: 24%;
  }
  #About-content h1 {
    font-size: 1.2em;
  }
  #About-content p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  #About-content img {
    height: 45vh;
  }
  #About-content h2 {
    font-size: 3em;
  }
  #About-content h3 {
    font-size: 1em;
    top: 25%;
  }
  #About-content h1 {
    font-size: 1.4em;
  }
  #About-content p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1280px) {
  #About-content img {
    height: 55vh;
  }
  #About-content h2 {
    font-size: 4em;
  }
  #About-content h3 {
    font-size: 1.3em;
    top: 25%;
  }
  #About-content h1 {
    font-size: 1.8em;
  }
  #About-content p {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1440px) {
  #About-content img {
    height: 65vh;
  }
  #About-content h2 {
    font-size: 5em;
    top: 20%;
  }
  #About-content h3 {
    font-size: 1.5em;
    top: 27%;
  }
  #About-content h1 {
    font-size: 2em;
  }
  #About-content p {
    font-size: 1.5em;
  }
}
