* {
    margin: 0;
    padding: 0;
}

#adNav {
    /* height: 100%; */
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 3;

}

.icon {
    max-width: 50px;
    max-height: auto;
}

#DonutParadeLogo {
    width: 130px;
    height: 130px;
    background-color: none;
    margin-left: 1rem
}

.AdminNav #mobileNav a {
    text-align: center;
}

.AdminNav #nav-toggle {
    translate: -30%
}

.AdminNav #mobileNav {
    translate: -30%;
}
