#Admin-content {
    display: flex;
    /* height: 100vh;  */
    /* width: 100vw;  */
}

.order-nav {
    display: flex;
    flex-direction: column;
    padding:2%;
    align-items: center;
    width: 30%; 
    height: 100vh; 
    border-right: 2px solid black; 
    box-sizing: border-box; 
    position: sticky;
    top: 0;
}

.edit-quantity-input {
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;

}

.admin-list {
    display: flex;
    flex-direction: column;
    padding:2%;
    align-items: center;
    flex: 1; 
    height: 100%;
    box-sizing: border-box; 
    /* border-left: 4px solid black; */
}
.filter-button{
    margin-bottom:25px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    margin: .5rem;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
}

.filter-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:2%;
    align-items: center;
    flex: 1; 
    height: 100%;
    box-sizing: border-box;
    /* position: -webkit-sticky;  */
    /* position: sticky; */
}

.order{
    display: flex;
    flex-direction: column;
    margin:5px;
    width:80%;
    background-color: #CEFBA2;
    color:black;
    padding: 5%;
    border-radius: 15px;
}
.approved{
    
    display: flex;
    flex-direction: column;
    margin:5px;
    width:80%;
    background-color: #F4FBA2;
    color:black;
    padding: 5%;
    border-radius: 15px;
}
.awaiting-approval{
    
    display: flex;
    flex-direction: column;
    margin:5px;
    width:80%;
    background-color: #EAEAEA;
    color:black;
    padding: 5%;
    border-radius: 15px;
}
.rejected{
    
    display: flex;
    flex-direction: column;
    margin:5px;
    width:80%;
    background-color: #FF9797;
    color:black;
    padding: 5%;
    border-radius: 15px;
}

.edit-order-form {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    /* give shadow border */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.completed{
    display: flex;
    flex-direction: column;
    margin:5px;
    width:80%;
    background-color: #CEFBA2;
    color:black;
    padding: 5%;
    border-radius: 15px;
}

.order-box-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:25px;
}

.order-section{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.order-total-items{
    /* Place at bottom */
    margin-top: auto;
}
.donut-list{
    line-height: 1.5;
    font-weight: bold;
}
.donut-list h3{
    font-size: 2rem;
    margin: 0;
}
.donut-list p{
    font-size: 1.3rem;
    margin: 0;
}
.button-col{
    display: flex;
    flex-direction: column;
}
.order-buttons{
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    margin: .5rem;
    border-radius: 5px;
    border-style: none;
    background:white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {

    .order-nav {
        margin-right: 1rem;
    }

    .admin-list {
        width: 100%;
        font-size: 10pt;
    }

    .filter-button{
        font-size: 1rem;
    }

    .filter-list{
        width: 100%;
    }

    .approved{
        width: 80%;
    }

    .awaiting-approval{
        width: 80%;
    }

    .rejected{
        width: 80%;
    }

    .completed{
        width: 80%;
        
    }

    .order-box-row{
        flex-direction: column;
    }

    .order-section{
        margin-left: 0;
        margin-right: 0;
    }

    .order-total-items{
        margin-top: 0;
    }

    .donut-list h3{
        font-size: 1.5rem;
    }

    .donut-list p{
        font-size: 1rem;
    }

    .button-col{
        flex-direction: row;
    }

    .order-buttons{
        margin: 0;
    }
}
