* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.AdminEdit {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.AdminEdit #title {
  text-align: center;
  margin: 1rem;
}

#AdminEdit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.donut-table {
  border-collapse: collapse;
  width: 70%;
  margin: 1rem;
  background-color: white;
}

.donut-table th {
  font-family: Montserrat;
  padding: 1rem;
  /* border: 0.25rem grey solid; */
  background-color: #F2ADB7;
}



.content-td {
  font-family: Montserrat;
  justify-content: space-around;
  padding: 1rem;
  border: 0.25rem grey solid;
  background-color: white;
}

.edit-button-container {
  background-color: white;
  font-family: Montserrat;
  /* padding: 1rem; */
  display: flex;
  align-items: center;
}

.edit-button {
  border: none;
  flex: 1;
  background-color: #F2ADB7;
  color: white;
  transition: background-color 0.3s;
  border-radius: 50px;
  border-style: none;
}

.edit-button:hover {
  background-color: #ADB7F2;
  cursor: pointer;
}

.accounts-table {
  border-collapse: collapse;
  width: 70%;
  margin: 1rem;
  background-color: purple;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #BDD7BC;
  padding: 2rem;
  border-radius: 10px;
}

.edit-form label {
  align-items: center;
  justify-content: center;
  display: flex;
}

.edit-form input {
  padding: 0.5rem;
  border-style:none;
  border-radius:5px;
  width: 100%;
}

.edit-form button {
  margin-top: 1rem;
  margin-bottom:1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #F2ADB7;
  color: white;
  border-radius: 50px;
  border-style: none;
}

.edit-form button:hover {
  background-color: #ADB7F2;
  cursor: pointer;
}

.edit-form h3 {
  margin: 1rem;
}
