.nav-bar{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    top: 0;
    z-index: 1000;
}
.nav-options-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px;
}
.nav-option{
    margin:10px;
}
.logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#DonutParadeLogo {
    width: 130px;
    height: 110px;
    padding-left: 4rem;
}