* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.Cart, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


#cartContent {
    padding: 2rem;
    background-color: red;
    height: 100vh;
}
