@import url("https://api.fontshare.com/v2/css?f[]=plein@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

* {
  margin: 0;
  padding: 0;
}

#contactContainer img {
  width: 30vw;
  height: 55vh;  
  filter: brightness(65%);
  border: solid 5px #F2ADB7;
}

#contactContainer p {
  font-family: 'Plein', sans-serif;
  font-size: 2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center; 
}

#contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 13px; 
  max-width: 600px; 
  margin-left: auto; 
  margin-right: auto; 
}

#contact {
  font-family: 'Plein', sans-serif;
  font-size: 5em;
  color: #F2ADB7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center; 
  text-decoration: underline;
}

#phone-number-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F2ADB7; 
  color: white;
  border-radius: 5px;
}

#phone-number-button:hover {
  background-color: #7B8CF0; 
}

/* Media Queries */
@media screen and (min-width: 360px) {
  #contactContainer img {
    width: 50vw; 
    height: auto;
  }

  #contactContainer p {
    font-size: 1em; 
  }

  #contact {
    font-size: 2.5em; 
  }

  #phone-number-button {
    font-size: 1em; 
  }
}

@media screen and (min-width: 400px) {
  #contactContainer img {
    width: 50vw; 
    height: auto;
  }

  #contactContainer p {
    font-size: 1em; 
  }

  #contact {
    font-size: 2.5em; 
  }

  #phone-number-button {
    font-size: 1em; 
  }
}

@media screen and (min-width: 500px) {
  #contactContainer img {
    width: 50vw; 
    height: auto;
  }

  #contactContainer p {
    font-size: 1em; 
  }

  #contact {
    font-size: 2.5em; 
  }

  #phone-number-button {
    font-size: 1em; 
  }
}

@media screen and (min-width: 768px) {
  #contactContainer {
    padding: 20px; 
  }

  #contact {
    font-size: 4em;
  }

  #phone-number-button {
    padding: 15px 25px; 
  }
}

@media screen and (min-width: 1024px) {
  #contactContainer img {
    width: 40vw; 
  }

  #contactContainer p {
    font-size: 1.8em; 
  }

  #contact {
    font-size: 5em; 
  }

  #phone-number-button {
    font-size: 1.5em; 
  }
}

@media screen and (min-width: 1280px) {
  #contactContainer img {
    width: 35vw; 
  }

  #contactContainer p {
    font-size: 2em; 
  }

  #contact {
    font-size: 5.5em; 
  }

  #phone-number-button {
    font-size: 1.6em; 
  }
}

@media screen and (min-width: 1440px) {
  #contactContainer img {
    width: 30vw; 
  }

  #contactContainer p {
    font-size: 2em; 
  }

  #contact {
    font-size: 5em;
  }

  #phone-number-button {
    font-size: 1em; 
  }
}


