* {
  margin: 0;
  padding: 0;
}

#contactContainer img {
  width: 30vw;
  height: 55vh;  
  filter: brightness(65%);
  border: solid 5px #F2ADB7;
}

#contactContainer p {
  font-family: 'Plein', sans-serif;
  font-size: 1.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center; 
}

#contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 13px; 
  max-width: 600px; 
  margin-left: auto; 
  margin-right: auto; 
}

#contact {
  font-family: 'Plein', sans-serif;
  font-size: 5em;
  color: #F2ADB7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center; 
  text-decoration: underline;
}

#phone-number-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F2ADB7; 
  color: white;
  text-decoration: none; 
  border-radius: 5px;
}

#phone-number-button:hover {
  background-color: #ADB7F2; 
}
