@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Footer {
    background-color: #F2ADB7;
    color: white;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Footer a {
    color : white;
}

.left-footer,
.middle-footer,
.right-footer {
    flex: 1;
    text-align: center;
    margin: 5px;
}

.middle-footer img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media img {
    width: 45px;
    height: 45px;
    margin: 0 20px;
}

.left-footer h1,
.right-footer h1 {
    font-family: Montserrat, sans-serif;
    font-size: 43px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.left-footer p,
.right-footer p {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: light;
    font-weight: 100;
    color: #fdfdfd;
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .Footer {
        flex-direction: column;
    }
}
