* {
    margin: 0;
    padding: 0;
}



.Header {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.Header, .Navbar {
    display: flex;
    justify-content: space-between;
}

.Header .Navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
}

.Header .Navbar ul li {
    padding: 1rem;
    text-align: center;
    font-size: 18pt;
    text-decoration: none;
    color: purple;
}

.Header .Navbar a:hover {
    color: #BDD7BC;
    white-space: nowrap;
}

.icon {
    max-width: 50px;
    max-height: auto;
}

#DonutParadeLogo {
    width: 130px;
    height: 110px;
    padding-left: 4rem;
}

#Cart {
    width: 40px;
    height: 30px;
    background-color: none;
}

#User {
    width: 30px;
    height: 30px;
}