@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Home {
    position: relative;
}
  
.home-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
}

.home-content img {
    width: 100%; /* Ensure the image covers the entire container */
    height: 100%; /* Ensure the image covers the entire container */
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

  
.home-content h1, .home-content p {
    font-family: Montserrat;
    text-align: center;
    z-index: 1; /* Ensure the text is above the image */
    color: white;
}

a {
    text-decoration: none;
    font-family: Montserrat;
    color:black;
}

h1 {
    font-family: Montserrat;    
}

h2 {
    font-family: Montserrat;
}
  
h3 {
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.Home, html, body {
    height: 100%;
    width: 100%;
    
}

.Home, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.page-content{
    margin:5vw;
}

