@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Home-content {
    position: relative;
}
    
.Home-content h1 {
    position: absolute;
    top: 250px; 
    left: 50%;    
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 4em;
    font-weight: bolder;
}

.Home-content p {
    position: absolute;
    top: 350px; 
    left: 50%;    
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

/* ASK MANNY WHY I CANT REMOVE THIS BOTTOM SECTION */
a {
    text-decoration: none;
    font-family: Montserrat;
    color:black;
}

h1 {
    font-family: Montserrat;    
}

h2 {
    font-family: Montserrat;
}
  
h3 {
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.Home, html, body {
    height: 100%;
    width: 100%;
    
}


