@import url("https://api.fontshare.com/v2/css?f[]=plein@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

* {
    margin: 0;
    padding: 0;
}

.loginContainer, html {
    height: 100%;
    width: 100%;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* padding: 1rem; */
    /* margin-top: 1rem; */
}

.loginContainer .Footer {
    width: stretch;
    /* stick to bottom */
    overflow: hidden;
}


#donut {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid #BDD7BC;
    border-radius: 5px;
    background-color: #BDD7BC;
    color: black;
    font-size: 1rem;
}

#donut:hover {
    cursor: pointer;
    background-color: #F2ADB7;
}

#h1 {
    text-align: center;
    /* font-family: 'Plein', sans-serif; */
    margin-top: 1.5rem;
    font-size: 5em;
    /* color: #F2ADB7; */
}

#p {
    text-align: center;
    font-family: 'Plein', sans-serif;
    margin-bottom: 4rem;
}

#sign-in {
    text-align: center;
    margin-top: 2rem;
}

#centerContent {
    text-align: center;
}

#centerContent form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centerContent button {
    margin: 15px 0; 
}

#centerContent input[type="email"],
#centerContent input[type="password"] {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid #BDD7BC;
    border-radius: 5px;
    flex-grow: 1;
}