* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.Signup, body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: red; */
    /* overflow: hidden; */
}

.Signup .Header {
    position: relative;
}

.Signup .Footer {
    width: stretch;
}

.Signup h2 {
    padding: 1rem;
    text-align: center;
}

#signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.Signup input {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid #BDD7BC;
    border-radius: 5px;
    flex-grow: 1;
}

#signed, #showPassword {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border-style:none;

    font-family: Montserrat;
    background-color: #F2ADB7;
    font-weight:bold;
    color:white;
}

.Signup #signed:hover, #showPassword:hover {
    cursor: pointer;
    background-color: #EE95A3;
}
