/* @tailwind base; */
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    font-family: Montserrat;
    color:black;
}

h1 {
    font-family: Montserrat; 
}

h2 {
    font-family: Montserrat;
}
  
h3 {
    font-family: Montserrat;
}

h4{
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.Footer {
    margin-top: auto;
}

#miniNav a:hover {
    color: #BDD7BC;
}

#mobileNav {
    transform: translateX(-10%);
}

#mobileNav a:hover{
    color: #BDD7BC;
    background-color: purple;
}

#mobileNav a {
    justify-content: center;
}

#mobileNav a:hover {
    color: #BDD7BC;
}

#helloUser {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: none;
}

#helloUser h1 {
    animation: slideIn;
    animation-duration: 5s;
}

#bitten {
    width: 100px;
}

@keyframes slideIn {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
        color: pink;
    }
    to {
        opacity: 1;
    }
}