a {
    text-decoration: none;
    font-family: Montserrat;
    color:black;
}

h1 {
    font-family: Montserrat;    
}

h2 {
    font-family: Montserrat;
}
  
h3 {
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.Footer {
    margin-top: auto;
}

.Header {
    height: 150px;
}

#DonutParadeLogo {
    width: 130px;
    height: 110px;
    margin-left: 4rem;
}

.Navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: auto;
}

.Navbar ul {
    display: flex;
    list-style-type: none;
    /* padding: 1rem; */
    align-items: center;
}

.Navbar ul li {
    padding: 1rem;
    text-align: center;
    font-size: 18pt;
    text-decoration: none;
    color: purple;
}

.Navbar a:hover {
    color: #BDD7BC;
    white-space: nowrap;
}