@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    font-family: Montserrat;
    color:black;
}

h1 {
    font-family: Montserrat;    
}

h2 {
    font-family: Montserrat;
}
  
h3 {
    font-family: Montserrat;
}

h4{
    font-family: Montserrat;
}

p {
    font-family: Montserrat;
}

.Footer {
    margin-top: auto;
}

#DonutParadeLogo {
    width: 130px;
    height: 110px;
    /* margin-left: 1rem; */
    
}

#Navbar {
    /* overflow: auto; */
    justify-content: flex-end;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

#Navbar a {
    /* list-style-type: none; */
    margin-right: 1rem;
    align-items: center;
    font-size: 18pt;
    text-align: center;
}

#Navbar a:hover {
    color: #BDD7BC;
    white-space: nowrap;
}

#helloUser {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: none;
}

#helloUser h1 {
    animation: slideIn;
    animation-duration: 5s;
}

#bitten {
    width: 100px;
}

@keyframes slideIn {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
        color: pink;
    }
    to {
        opacity: 1;
    }
}